
<main class="tg-haslayout hayaat-service-section" id="main">
  <div class="container">
    <div class="row">
      <div class="lab-detail-view">
        <div class="col-sm-4">
          <div class="block">
            <img src="../../../assets/images/Select%20Test%20(Icon)-01.svg">
            <a routerLink="/select-lab-test">Select Test(s)</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="block" style="padding: 40px 0 18px;">
            <img src="../../../assets/images/Recommended%20Test%20(Icon)-01.svg" style="width: 17%">
            <a>Test Packages</a>
            <span>Coming Soon</span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="block">
            <img src="../../../assets/images/Upload%20Prescription%20(Icon)-01.svg" style="width: 25%">
            <a routerLink="/lab-test-request">Upload Prescription</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
