.view-pres i {
  color: #0a77d3;
}
.inovice-detail-view {
  padding: 0 0 5px;
  width: 100%;
  float: left;

}
.modal-dialog {
  margin-right: 48%;
}
.modal-content{
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.modal-width .modal-body {
  padding: 0 0 0 50px;
}
.modal-width{
  background: #fff;
  /*width:800px;*/
  border-radius: 8px;
  overflow: hidden;
}
span.invoice-no {
  float: none;
  font-size: 20px;
  font-weight: 400;
  color: grey;
}
.inovice-detail-view table{
  margin: 0;
}
.invoice-header h1 {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  float: left;
  margin: 0;
  color: grey;
  text-transform: uppercase;
}
.inovice-detail-view hr {
  margin: 0;
}
.invoice-person-info dl dt{
  margin: 5px 0 0;
}
.invoice-person-info dl dt,
.sub-total dl dt{
  width: 70px;
  float:left;
  font-size:12px;
  color: grey;

}
.invoice-dl dl {
  width: 55% !important;
}
.invoice-person-info dl dd,
.sub-total dl dt{
  overflow: hidden;
  margin: 0;
  font-size:12px;
  line-height: 28px;
}
.invoice-date {
  overflow: hidden;
  float: right;
  font-size: 13px;
  width: 40%;
}
.invoice-date span b{
  font-weight: 500;
}
dl{
  width: 50%;
  padding: 0;
  float: left;
}

.invoice-person-info h2,
.personal-info h2 {
  font-size: 16px !important;
  font-weight: bold;
  display: block;
  margin: 5px 0;
  color: grey;
  text-transform: uppercase;
}
.personal-info .addmore {
  float: right;
  display: inline-block;
  background: #f7f7f7;
  font-size: 15px !important;
  border: 1px solid grey;
  padding: 6px 15px 0;
  height: 39px;
  color: grey !important;
  border-radius: 25px;
}
.personal-info a i{
  font-size: 25px !important;
  color: #182f81;
  padding: 0px 5px 0 0;
  float: left;
}
.sub-total {
  overflow: hidden;
  margin: 0 0 15px;
}
.sub-total dl {
  width: 50%;
  float: right;
  margin:0;
}
.sub-total dl dt {
  width: 155px !important;
  text-align: right;
  margin: 2px 10px 0 0 !important;
}
.sub-total dd {
  font-size: 12px !important;
  font-weight: bold;
  margin: 6px 0 4px;
}
.sub-total dl dt #promo-code{
  width: 108px;
  font-size: 12px !important;
  margin: 4px 0 0;
  padding: 0;
  float: left;
}
.print-invoice{
  background-color: #fff;
  color: #000;
  float: right;
  margin:0 !important;
}
.invoice-total{
  margin: 0 0 20px !important;
  text-align: right;
}
.invoice-total .hayaat-fee{
  display: block ;
  font-size: 14px !important; ;
}
.form-control{
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  font-weight: lighter;
}
.form-control:focus{
  box-shadow: none;
}
.invoice-date span{
  display: block;
  text-align: left;
  margin: 0 0 5px;
}






.inovice-detail-view .card-body{
  padding: 0 0 40px 0;
}
.inovice-detail-view .card-body td {
  padding: 0 !important;
}
.inovice-detail-view .card-body th {
  padding: 0 !important;
}
.invoice-person-info {
  overflow: hidden;
}
.invoice-header {
  padding: 8px 0;
  overflow: hidden;
}
.proceed-payment h3{
  margin:0;
}

/* prescription view styling */
.detail-appointment-prescription {
  padding: 2% 0;
  background: #f7f7f7;
  box-sizing: border-box;
  width: 100%;
  border-radius: 0 8px 8px 0;
  text-align: center;
  overflow: hidden;
}
.detail-appointment-prescription h2 {
  font-size: 26px !important;
  margin: 0;
}
.detail-appointment-prescription textarea{
  background: white;
  min-height: 120px;
  margin: 0 0 10px;
  color: #2b2b2b;
}
.detail-section {
  text-align: left;
  overflow: hidden;
  width: 50%;
  float: left;
}

.detail-section dl {
  width: 100%;
  float: none;
}
.detail-section dl dt {
  float: left;
  font-weight: 400;
  width: 75px;
}
.detail-section dl dd {
  margin: 0 35px 0 0;
  overflow: hidden;
  float: left;
  width: 170px;
}
.detail-section h6 {
  font-weight: 600 !important;
  font-size: 14px !important;
  text-transform: uppercase;
}

