

    <div class="col-sm-3">
      <div class="blood-donor-sign-up">
        <a routerLink="/user-login" class="donor-join-hayaat-background">
           <img src="../../../assets/images/side-bar-components/blood-donor-register.png">
        </a>
      </div>
      <!--<div class="donor-invitation">-->
        <!--<h2>Invite a friend to<span>Become a blood donor</span></h2>-->
        <!--<form>-->
          <!--<mat-form-field>-->
            <!--<input matInput  type="text"  name="name" class="form-control" placeholder="Email or Number" ngModel >-->
          <!--</mat-form-field>-->
          <!--<button class="tg-btn tg-btn-lg" type="submit" id="login-button"><img *ngIf="loginGif" src="../../../assets/images/loader.gif" style="width: 28px">Join Hayaat</button>-->
        <!--</form>-->
        <!--<div class="social-links donor-social-links">-->
          <!--<ul>-->
            <!--<li  class="facebook"><a href='https://www.facebook.com/hayaatpk' target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
            <!--<li  class="twitter"><a href='https://twitter.com/HayaatPk' target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
            <!--<li  class="google-plus"><a href='https://plus.google.com/116434913153186313017' target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>-->
            <!--<li  class="linkedin"><a href='https://www.linkedin.com/company/13366164/' target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>-->
            <!--<li  class="linkedin"><a href='https://www.instagram.com/hayaatpk/' target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--<form class="copy-code">-->
          <!--<input type="text" ><button><i class="fas fa-share-alt"></i>Copy</button>-->
        <!--</form>-->
      <!--</div>-->
    </div>


