<main class="tg-main-section tg-haslayout join-hayaat-main-section" id="main">
  <!--<div class="container">-->
    <div class="row">
      <div class="join-hayaat-content">
        <div class="col-sm-6" style="padding: 0; flex: auto;">
          <div class="join-section">
            <h1>join</h1>
            <div class="doctor-signup">
              <div class="doctor-img-join">
                <img src="./assets/images/doctor.png">
              </div>
              <span>sign up as doctor</span>
              <a routerLink="/doctor-sign-up" class="join-user">join now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class=" col-sm-6" style="padding: 0; flex: auto;">
          <div class="hayaat-section">
            <h1>Hayaat</h1>
            <div class="user-signup ">
              <div class="user-img-hayaat ">
                <img src="./assets/images/man.png">
              </div>
              <span>sign up as user</span>
              <a routerLink="/user-sign-up" class="join-user">join now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!--</div>-->
</main>
