
  <div class="col-sm-3">
    <div class="suggest-emergency">
      <img class="top-border" src="../../../assets/images/side-bar-components/emergency-top-border.png">
      <h2>Suggest an<span>Emergency center</span></h2>
      <form>
        <mat-form-field>
          <input matInput  type="text"  name="name" class="form-control" placeholder="Name" ngModel >
        </mat-form-field>
        <mat-form-field>
          <input matInput  type="text"  name="number" class="form-control" placeholder="Number" ngModel >
        </mat-form-field>
        <mat-form-field>
          <input matInput  type="text"  name="address" class="form-control" placeholder="Address" ngModel >
        </mat-form-field>
        <img class="emergency-mobile" src="../../../assets/images/side-bar-components/near-emergency.png">
        <button class="tg-btn tg-btn-lg" type="submit" id="login-button">Send Suggestion</button>
      </form>
    </div>
  </div>


