<main id="main" class="tg-haslayout">
  <!-- START CONTENT -->

  <div id="tg-innerbanner" class="tg-innerbanner tg-bglight user-profile tg-haslayout" style="background:url('https://medscure-mudassar-becreative.c9users.io/hayaatweb/assets/images/user-cover.jpg') no-repeat scroll center bottom / cover;height:270px;">
    <div class="tg-searcharea tg-haslayout">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <div class="col-sm-12">
              <br><img src="https://medscure-mudassar-becreative.c9users.io/hayaatweb/uploads/thumbs/avatar-user.png" width="150px" alt="Hayaat.pk - Find doctor, Blood donor &amp; Nearest Emergency Center">                    </div>
            <h5>saqib</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-doctorprofileinfo></app-doctorprofileinfo>


</main>
