<main id="main" class="tg-main-section tg-haslayout">
  <div id="tg-innerbanner" class="tg-innerbanner tg-bglight tg-haslayout">
    <div class="tg-pagebar tg-haslayout">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>contact</h1>
            <ol class="tg-breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active">contact</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
        <div class="tg-contactus tg-haslayout">
          <div class="tg-search-categories">
            <div class="row">
              <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="col-sm-12 col-xs-12 tg-expectwidth contact-ino-box">
                  <div class="tg-search-category">
                    <div class="tg-displaytable">
                      <div class="tg-displaytablecell">
                        <div class="tg-box">
                          <h3>Contact Info</h3>
                          <ul>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> <span>26A, Block J3, Johar Town Near Expo Center, Lahore, Pakistan</span></li>
                            <li><i class="fa fa-mobile" aria-hidden="true"></i> <a href="tel:04232532266"><span>04232532266</span></a></li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i> <span><a href="mailto:info@hayaat.pk">info@hayaat.pk</a></span></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3403.111698693959!2d74.2559728155412!3d31.46611338138764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3919022977c74237%3A0x949b998b86a859!2sHayaat.pk!5e0!3m2!1sen!2s!4v1519289601046" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
              </div>
              <app-contactform></app-contactform>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
