<main id="main" class="tg-haslayout">
  <div id="tg-innerbanner" class="tg-innerbanner tg-bglight about-heaeder tg-haslayout" style="background:url('https://hayaat.pk/assets/images/about-header.jpg') no-repeat scroll center bottom / cover;height:250px;">
    <div class="tg-searcharea tg-haslayout">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2>Hayaat.pk arm you the confidence that yes <br>you can live a healthy life!</h2>
          </div>
        </div>
      </div>
    </div>
  </div>





  <div class="tg-main-section about-desc tg-haslayout padding-30-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>About Us</h2>
          <p> Hayaat.pk is a complete healthcare platform that gives patients easy access to healthcare facilities. Patients can find authentic doctors with respect to the specialties and book an appointment instantly. Users can also connect to a large number of volunteer blood donors and find nearest emergency centers as well. In addition, prescription medicines can also be ordered through Hayaat.pk from trusted pharmacies around the country along with getting the medical tests conducted at your home from renowned labs. <br><br>
            Hayaat.pk, as the name suggests, is all about care for your life! We are committed around the clock to save you time and hassle of accessing health facilities. It needs no clarification that the healthcare sector of the country is going through rough patches and a lot of people are not able to find suitable medical facilities. In such a situation, Hayaat.pk stands out as the leading platform using which people can find a doctor and book an appointment online instantly.  <br><br>
            The health problems are not only limited to finding doctors only – the number of emergency cases is on the rise due to increase in population, growing number of accidents, and viral diseases like dengue, zika, and others. Through our platform, users can locate nearest emergency centers and take their patients in no time. In addition, Hayaat.pk also has a large database of registered volunteer blood donors along with their contact details. Needy people can contact the volunteer blood donors to arrange for blood through Hayaat.pk.<br><br>
            <!--Where people face numerous health care issues, Hayaat.pk is the right-hand where you’ll find a health-giving touch. Our inside world has everything related to your health care  - evaluating health problems, instant appointment with verified doctors, access to blood donors &amp; blood seekers, booking diagnostic tests, patient recommendations, storing medical records, directing towards emergency center, health care blogs, or learning new ways to live better.-->
          </p>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div id="tg-innerbanner" class="tg-innerbanner tg-bglight about-heaeder about-heaeder1 tg-haslayout">
      <div class="tg-searcharea tg-haslayout">
        <div class="container">
          <div class="row">
            <div class="col-md-12 ">
              <div class="user-view-section text-left">
                <div class="bio-section">
                  <img src="../../assets/images/malik-usama.png">
                  <div class="bio-detail">
                    <h2>Malik Usama</h2>
                    <span>Founder & Chief Executive officer</span>
                    <p>Malik Usama is Hayaat’s Founder and CEO, leading the company as it builds a platform for simplifying Pakistan’s healthcare industry. Apart from being a social entrepreneur, he is best known for developing amazing mobile apps!</p>
                  </div>
                  <div class="description-section">
                    <p>Having served previously in the Middle East, Usama’s entrepreneurial journey started from a simple idea of facilitating the healthcare sector in Pakistan in an apartment back in UAE. During the inception period, Usama had to steer various roles as he was the sole designer, concept writer as well as developer for Hayaat.pk. Usama’s pure dedication, hard work, the willingness to serve mankind, and the tendency to work in pressure brings out the best in him. Usama keeps brainstorming valuable insights on how a digital healthcare system can tackle future challenges.
                      Apart from being an excellent developer, he likes to read and research in his free time.
                    </p>
                  </div>
                </div>
              </div>
              <div class="user-view-section text-left">
                <div class=" bio-section">
                  <img src="../../assets/images/mian-ali.png">
                  <div class="bio-detail">
                    <h2>Mian Ali</h2>
                    <span>Co-Founder </span>
                    <p>Mian Ali is serving as the Co-founder of Hayaat.pk. Being a serial entrepreneur and angel investor, he has also made significant investments in ventures which are established businesses now and a success story on its own.</p>
                  </div>
                  <div class="description-section">
                    <p>Apart from exercising this position he also heads several novel startups and business ventures supporting young founders with their ideas, social impact, developing strategies and achieving operational efficiencies to maximize their value. With Hayaat.pk, his vision is focused on expanding access to healthcare services by a simplified model that leverages the smartphones in everyone’s hand.
                      Mian Ali has a deep commitment to community and civic engagement. As an active philanthropist, he is aggressively involved in poverty relief programs and education.
                      Occasionally, you can spot him at various entrepreneurial conventions or away on a traveling spree- appreciating nature and enjoying good food!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <!--<div class="row text-center">-->
        <!--<br>-->
        <!--<h2>Team Behind Hayaat.pk</h2>-->
        <!--<br>-->
        <!--<div style="display:table;margin:0 auto;">-->
          <!--<div class="col-md-6">-->
            <!--<img src="https://hayaat.pk/assets/images/team/team-01.jpg">-->
            <!--<div class="team-desc">-->
              <!--<h4 class="name">Usama Farooq Malik</h4>-->
              <!--<span class="designation">Founder &amp; CEO</span>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-6">-->
            <!--<img src="https://hayaat.pk/assets/images/team/team-02.jpg">-->
            <!--<div class="team-desc">-->
              <!--<h4 class="name">Mian Ali</h4>-->
              <!--<span class="designation">Co-Founder</span>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <div class="row text-center">
        <div style="display:table;margin:0 auto;">
          <div class="col-md-4 padding-30-top">
            <img src="https://hayaat.pk/assets/images/team/team-03.jpg">
            <div class="team-desc">
              <h4 class="name">Mudassar Hussain</h4>
              <span class="designation">Sr. Software Engineer</span>
            </div>
          </div>
          <div class="col-md-4 padding-30-top">
            <img src="https://hayaat.pk/assets/images/team/team-04.jpg">
            <div class="team-desc">
              <h4 class="name">Kashif Baig</h4>
              <span class="designation">Sr. Android Developer</span>
            </div>
          </div>
          <div class="col-md-4 padding-30-top">
            <img src="https://hayaat.pk/assets/images/team/team-07.jpg">
            <div class="team-desc">
              <h4 class="name">Nida Zeb</h4>
              <span class="designation">Content Writer</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div style="display:table;margin:0 auto;">
          <div class="col-md-4 padding-30-top">
            <img src="https://hayaat.pk/assets/images/team/team-05.jpg">
            <div class="team-desc">
              <h4 class="name">M. Sajjad</h4>
              <span class="designation">Marketing Manager</span>
            </div>
          </div>
          <div class="col-md-4 padding-30-top">
            <img src="https://hayaat.pk/assets/images/team/team-06.jpg">
            <div class="team-desc">
              <h4 class="name">Mohsin Ali</h4>
              <span class="designation">Business Development Manager</span>
            </div>
          </div>
          <div class="col-md-4 padding-30-top">
            <img src="https://hayaat.pk/assets/images/team/team-08.jpg">
            <div class="team-desc">
              <h4 class="name">Farhan Sadiq</h4>
              <span class="designation">Marketing Executive</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
