




<main id="main" class="tg-main-section tg-haslayout">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12" style="padding: 50px 0 0;">
        <div class="tg-modal-content">
          <div class="tab-content reset-password-container tg-haslayout">
            <div role="tabpanel" class="tab-pane tg-haslayout active" id="tg-signin-formarea">
              <h3 class="text-center margin-b-0">Reset Your Password</h3>
              <p class="login-msg"></p>
              <form class="tg-form-signup user-tab-content" [formGroup]="form" (submit)="updatePass(form.value)" >
                <fieldset>
                  <div>
                    <mat-form-field class="example-full-width" >
                      <input matInput  type="email" placeholder="Email" formControlName="email" >
                    </mat-form-field>
                    <mat-form-field class="example-full-width" >
                      <input matInput type="password" placeholder="Password" formControlName="newPass" >
                    </mat-form-field>
                    <mat-form-field class="example-full-width" >
                      <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPass" >
                    </mat-form-field>
                    <div class="form-group">
                      <button class="tg-btn create-account-btn" type="submit"><img *ngIf="loginGif" style="width: 15px;" src="../../assets/images/loader.gif"> Save</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
