<main id="main" class="tg-main-section about-desc tg-haslayout padding-30-top" style="background: #f7f7f7 !important;">
  <div class="container">
    <h2>Hayaat.pk – Policies </h2>
    <p>Hayaat.pk is a legal, safe, and convenient platform to find healthcare services near you. All of the healthcare providers who deliver services through Hayaat.Pk are independent individual/entities responsible for their products/services.</p>
    <p>Hayaat.Pk is free of charge to the patients. However, any consultation charges being charged by providers, tests fees or drugs/medicine purchase shall be purchased by users at their own cost and expense.</p>
    <h3>Refund/Cancellation Policies</h3>
    <ul>
      <li>	No Deduction and Full Refund in case of cancellation within 15 minutes of order placement or appointment booking with the providers.</li>
      <li>	25% service charges will be deducted if cancelled 15 minutes after placing an order and services/products are not yet rendered.</li>
      <li>	No refund after services are rendered</li>
    </ul>
    <h3>Privacy Policy </h3>
    <p>Hayaat.pk protects the rights and privacy of its users. All the information collected is kept confidential and by no means used for purposes other than medical and healthcare. A user has to prove their identity through anautomated code sent via SMS or email in order to access the services. </p>
    <h3>Customer Information </h3>
    <p>Hayaat.pk does not store any banking information of the users. We only keep basic information such as name, contact details, and email address etc. All the procedures in place are just for providing customized services to the people. </p>
  </div>
</main>
