<main class="tg-haslayout hayaat-service-section" id="main">
  <!--<div class="container">-->
  <div class="row">
    <div class="orders-section">
      <div class="col-sm-6" style="padding: 0; flex: auto;">
        <div class="pharmacy-section">
            <img src="../../assets/images/pharmacy-order-logo.png">
            <h3>Pharmacy</h3>
            <a routerLink="/order-pharmacy">Order Now</a>
        </div>
      </div>
      <div class=" col-sm-6" style="padding: 0; flex: auto;">
        <div class="lab-section">
          <img src="../../assets/images/lab-order-logo.png">
          <h3>Test Request</h3>
          <a routerLink="/order-lab-test">Order Now</a>
        </div>
      </div>
    </div>
  </div>
  <!--</div>-->
</main>
