.tg-forgot-password{
  color: #0a77d3;
  font-size: 12px;
  text-decoration: underline;
}

.forget-password .mat-form-field{
  width: 100% !important;
}
.forget-password .mat-form-field input{
  border: none !important;

}
