<a class="tg-forgot-password" (click)="openModal(template)" style="cursor: pointer;"> Forgot Password?</a>

<ng-template #template>
  <div class="tg-user-type-modal">
    <div class="modal-body">
      <div class="tg-modal-content forget-password">
        <div class="tab-content tg-haslayout">
          <div role="tabpanel" class="tab-pane tg-haslayout active" id="tg-fp-formarea">
            <h3 class="text-center margin-b-0">Forgot Password</h3>
            <p class="login-msg"></p>
            <form  class="tg-forgot-password-modal tg-form-modal" id="forgot-password-form" [formGroup]="form" (submit)="forgetPassword(form.value)"><div style="display:none">
              <input type="hidden" name="hayaat_csrf_tokens" value="9ac2d2d23093042369e016a6344e121f">
            </div>                          <fieldset>
              <mat-form-field>
                <input matInput  type="email"  formControlName="email" placeholder="Email Address">
              </mat-form-field>
              <button [disabled]="loginGif" class="tg-btn tg-btn-lg" type="submit" id="forgot-password-btn" style="width: 100%;"><img *ngIf="loginGif" src="../../assets/images/loader.gif" style="width: 28px">Submit</button>

            </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
