.location-heading h2,
.appointment-for h2{
  font-size: 22px !important;
  font-weight: normal;
  color: #19227d;
  float: left;
  margin: 0 0 25px;
}
.location-heading h2 i,
.appointment-for h2 i{
  padding: 0 11px 0 0;
  color: red;
}
.appointment-available-time {
  float: right;
  background: #f7f7f7;
}
.appointment-available-time span {
  display: block;
  font-size: 12px;
}
.appointment-available-locations {
  margin: 0 0 10px;
}
.appointment-available-locations .mat-radio-label-content{
  font-size: 13px !important;
}
.appointment-available-locations .mat-radio-label{
  white-space: normal !important;
}
.appointment-available-locations  .mat-radio-button {
  margin: 5px 0;
  border-bottom: 1px solid #ccc;
}
.pick-time-slot {
  overflow: hidden;
  padding: 0 0 28px;
  border-bottom: 1px solid #ccc;
}
.pick-time-slot a {
  display: inline-block;
  cursor: pointer;
  background: #f7f7f7;
  padding: 5px 0;
  text-align: center;
  width: 70px;
  min-height: 29px;
  margin: 0 6px 5px 0;
  color: #000;
  font-size: 12px;
  border: 1px solid #ccc;
}
.pick-time-slot a:hover {
  background: #19227d;
  color: #fff;
  border-color:#19227d;
}
.pick-time-slot a.active{
  background: #19227d;
  color: #fff;
  border-color:#19227d;
}
.appointment-button,
.appointment-for{
  overflow: hidden;
}
.appointment-button a {
  color: #000;
  display: inline-block;
  background: #ccc;
  text-transform: uppercase;
  /*padding: 5px 27px;*/
  /*font-size: 17px;*/
  /*font-weight: 500;*/
  padding: 7px 26px;
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 15px;
  cursor: pointer;
}
.appointment-button a.active{
  background: #19227d;
  color: #fff;
  border-color:#19227d;
}
.appointment-button span {
  font-size: 16px;
  font-weight: 500;
  display: block;
}
.appointment-button button {
  width: 100%;
  min-height: 43px;
  font-size: 13px;
  text-transform: uppercase;
  background: #eb2026;
  margin: 0 0 15px;
}
.appointment-button button i {
  margin: 0 5px 0 0 ;
}

#login-blog-form {
  padding: 28px 71px ;
  text-align: center ;
}
#login-blog-form .mat-form-field{
  width:100%;
}
#login-blog-form .mat-form-field input {
  border: none !important;
}
#login-blog-form .blog-login-btn,
#login-blog-form .blog-signup-btn{
  width: 40% ;
}
#login-blog-form .blog-signup-btn:hover{
  background: #1A237E !important;
  transition: none !important;
  color: #fff !important;
}
